/**{
	margin:0px;
	padding: 0px;
	list-style:none;
}
*/

#box p{
	border:1px solid #3D579D;
	font:bold 40px Tahoma;
	width:250px;
	height:100px;
	margin:100px auto;
	text-align: center;
	line-height: 100px;
	color:#3D579D;
	
	transform:translate(100px,50px) rotate(30deg) scale(1,0.8);

	/*transform:skewX(30deg);*/
	/*transform:scale(1,0.8);*/
	/*transform:rotate(30deg);*/
	/*transform:translate(100px,50px);	*/

}

