p{
	font: 18px Tahoma;
}

p:last-child{
	text-align: center;
	color:steelblue;
}

#skin{
	column-count: 5;
	column-rule: 5px dashed #ccc;
	column-gap:30px;
}

h1,p:last-child,p:nth-child(2){
	column-span:all;
	text-align: center;
}