/**{
	margin:0px;
	padding: 0px;
	list-style:none;
}
*/

#box{
	border:1px solid red;
	font:bold 40px Tahoma;
	width:350px;
	height:100px;
	margin:50px auto;
	text-align: center;
	line-height: 100px;


	border-radius: 10px  40px;
}

#circle{
	border:1px solid red;
	font:bold 40px Tahoma
	margin:50px auto;
	text-align: center;
	line-height: 350px;

	width:350px;
	height:350px;
	border-radius: 50%;
}