#leftBox{
	border: 2px dashed green;
	width: 280px;
	height: 280px;
	padding: 10px;
	float: left;
	margin: 5px;
}

#rightBox{
	border: 2px dashed red;
	width: 280px;
	height: 280px;
	padding: 10px;
	float: left;
	margin: 5px;
	
}