
div{
	margin: 0px auto;
	border:0px;
	width:800px;

}


ul li{
	font:18px Tahoma ;
	color: tomato;
	list-style-type: none;
	border: 1px solid tomato;
	margin: 0px;
	float: left;
	width:150px;
	
	text-align: center;
	line-height: 50px;
}


table{
	float: left;
}

td{
	width: 150px;
	border: 1px dashed tomato;
	font:16px Tahoma;
	color:tomato;

}